<div class="row ">
    
            <div class="col-lg-2  col-md-3 col-sm-12 col-xs-12 content-marg">
                <div align="center">
                    <img src={{meta.assetVal.fields.file.url}} alt="learners" class="img-responsive learner-img ">
                </div>
                <br>
                <h4 class="learner-name">{{meta.entVal.fields.name}}</h4>
    
                <p class="learner-desig">{{meta.entVal.fields.designation}}</p>
    
            </div>
    
    
            <div class=" col-lg-9 col-md-8  col-sm-12 col-xs-12 ">
                <br>
                <br>
    
                <p class="learner-comment">
                    {{meta.entVal.fields.testimonial}}
    
                </p>
                
    
            </div>
    
           
    
    
 </div>