<section class="container-fluid testimonial">
    <div class="row ">
        <p class="testimonial__title">{{contentData?.sectionTitle}}</p>
    </div>
    <tf-carousel [interval]="nextPhotoInterval"
                 [noWrap]="noLoopSlides">
        <tf-slide *ngFor="let slide of contentData.testimonials; let index=index"
                  [active]="slide.active">
            <div class="row ">
                <div class="col-lg-2  col-md-3 col-sm-3 col-xs-12 testimonial__content-marg">
                    <div align="center">
                        <img src={{slide.image}}
                             alt="learners"
                             class="img-responsive testimonial__img ">
                    </div>
                    <p class="testimonial__name">{{slide.name}}</p>
                    <p class="testimonial__desig">{{slide.designation}}</p>
                </div>
                <div class=" col-lg-9 col-md-8 col-sm-8 col-xs-12 ">
                    <p class="testimonial__comment">
                        {{slide.testimonial}}
                    </p>
                </div>
            </div>
        </tf-slide>
    </tf-carousel>
    <p class="testimonial__link ">{{contentData.cta}}</p>
</section>
