<nav role="navigation" class="navbar navbar-default custom-navbar">
  <div class="container-fluid">
    <div class="navbar-header navbar-left pull-left">
      <a href="/" class="navbar-brand">
        <img alt="Brand" class="navbar__logo" [src]="talfinderLogoUrl" alt="Talfinder-logo">
      </a>
    </div>
    <div class="navbar-header navbar-right pull-right">
      <ul class="nav pull-left">
        <li>
          <button class="btn btn-sm navbar-btn custom-button">LOGIN</button>
          <span>SIGN-UP</span>
        </li>
      </ul>
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="border" *ngFor="let menuentries of menutabs">
          <a href="" class="border">{{menuentries}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>