<nav class="navbar navbar-static-top talfinder-nav">
    <div class="container-fluid common-margin">
        <div class="navbar-header pull-left">
            <a class="navbar-brand navbar-left"
               href="#">
                <img src='{{ contentData.logo.fields?.file.url }}'
                     alt="logo"
                     class=" img-responsive talfinder-nav-logo">
            </a>
        </div>
        <input type="checkbox"
               id="navbar-toggle-cbox">
        <div class="navbar-header pull-right">



            <label for="navbar-toggle-cbox"
                   class="navbar-toggle collapsed "
                   data-toggle="collapse"
                   data-target="#MyNavbar"
                   aria-expanded="false"
                   aria-controls="navbar">
                <span class="sr-only">Toggle data</span>
                <span class="icon-bar blue"></span>
                <span class="icon-bar blue"></span>
                <span class="icon-bar blue"></span>
            </label>

            <a href="#">
                <button class="btn navbar-btn  login-button pull-left">LOGIN</button>
            </a>
            <a href="#">
                <button class="btn navbar-btn navbar-right signup-button pull-left">SIGN-UP</button>
            </a>



        </div>



        <div class="collapse navbar-collapse center"
             id="MyNavbar">
            <ul class="nav navbar-nav pull-center nav-ul ">


                <li *ngFor="let item of contentData.menuitems.fields?.menuTabs">
                    <a class="headeritem"
                       routerLink="./For Learners">{{item |uppercase}}</a>
                </li>


            </ul>


        </div>



    </div>
</nav>
