@import '../../shared/bits';
@import '../../shared/fontawesome-free-5.0.2/web-fonts-with-css/scss/fontawesome.scss';

.featuresummary{
  overflow-x:hidden;
}

.wrap{
    display: flex;
    flex-wrap:wrap;
}
.featuresummary-content-img{
    @include breakpoint (phablet){
      margin-left:10%;
      margin-right:10%;
          }
    margin-left:2%;
    margin-right:2%;
    
    height: 250px;		
    width:500px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  }
.featuresummary-content-heading{
  margin-left: 1%; 
  text-align: left;
  color:$black;
  font-family:$fontBitter;	
  font-size:$big;
  line-height: 28px;
  @include breakpoint (phablet){
    text-align: center;
        }
  
}
.featuresummary-content-discription{
  margin-left: 1%;
  text-align: left;
  color:$black;	
  font-family:$fontRaleway;
  font-size: $medium;	
  line-height: 19px;
  @include breakpoint (phablet){
    text-align: center;
   }
  
}
.featuresummary-content-list{
  line-height: 28px;
  @include breakpoint (phablet){
    text-align: center;
        }
}
.featuresummary-content-advantage{

  padding-bottom: 10px;
  padding-top:10px;
  display: inline-block;
  color:$black;
  font-family:$fontRaleway;
  font-size: $medium;
  line-height: 19px;
  font-family: $fontRaleway;
 
}

.featuresummary-content:nth-child(odd){

  top: 0;
  bottom: 0;  
  background-color: $white;

.img-column{
  float: right;

    @include breakpoint(phablet){
      display: none;
    }
  
  }
.text-column{
  float:left
  }

  @include breakpoint (phablet){
    display:flex;
    flex-wrap: wrap;
  }
  @include breakpoint (tablet){
    display:inline;
    flex-wrap: nowrap;
 
        }
  @include breakpoint (laptop){
          display:inline;
          flex-wrap: nowrap;
       
        }
  @include breakpoint (desktop){
          display:inline;
          flex-wrap: nowrap;
             
         }
}

.featuresummary-content:nth-child(even){

  top: 0;
  bottom: 0;  
  background: $talfinderGray;

  .img-column{
    float: left;
    @include breakpoint(phablet){
      display: none;
    }
    
    }
  .text-column{
     float:right;
    }
  
  @include breakpoint (phablet){
    display:flex;
    flex-wrap: wrap;
  }
  @include breakpoint (tablet){
    display:inline;
    flex-wrap: nowrap;
 
        }
  @include breakpoint (laptop){
    display:inline;
    flex-wrap: nowrap;
       
        }
  @include breakpoint (desktop){
      display:inline;
      flex-wrap: nowrap;
             
         }
  
}
.fa-check{
    color: $black; 
}
.space{
  padding: 10px;
}
li:before {    
  margin:0 20px 0 -15px;
  color:$black;
  }
  
