<section class="featuresummary">
  <div class="row featuresummary__content"
       *ngFor="let data of displayModel?.featuresSummarySections">
    <div class="row featuresummary__space"></div>
    <div class="row">
      <div class="col-lg-6 col-xs-12 featuresummary__img-column text-center">
        <img src={{data.image}}
             alt="image"
             class="featuresummary__content-img img-responsive">
      </div>
      <div class="col-lg-6 col-xs-12 featuresummary__text-column text-center">
        <p class="featuresummary__content-heading">{{data.sectionTitle}}</p>
        <P class="featuresummary__content-description">{{data.sectionDescription}}</P>
        <div class="pull-left">
          <ul class="featuresummary__ul-wrap"
              *ngFor="let advantage of data?.advantages">
            <li [ngClass]="[advantage.icon,'featuresummary__content-list',
            'fa','fa-pull-left','fa-lg']">

              <p class="featuresummary__content-advantage">
                {{advantage.title}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row featuresummary__space"></div>
  </div>
</section>
