.objective-para {
    height: 30%;
    width: 65%;
    color: #000000;
    font-family: Bitter;
    font-size: 24px;
  /*line-height: 28px;
	text-align: center;*/
}
.margin {
    /* margin-left: 15%;*/
    width: auto;
    size: 24px;
}
.underline {
    height: 6.08px;
    width: 55%;
    transform: rotate(359.7deg);
    background-color: #064973;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.register {
    background-color: #2AB1EA;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: Raleway;
    font-size: 16px;
    
}