<section class="container-fluid ">
    <div class="row">

        <div class="col-lg-3 col-sm-1 "></div>
        <div class="col-lg-6 col-sm-10 col-xs-12">
          <div>
            <h1 class="text-center objective-para margin ">{{contentData.fields?.courseHomeCaption }}

            </h1>
            <hr class="underline">
          </div>
            <div class="text-center">
            <button class="btn button register" >SIGN-UP</button>
          </div>

        </div>
        <div class="col-lg-3 col-sm-1">

        </div>
    </div>
</section>
