.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  right: 0;
  background-image: none;
  
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  left: 0;
}

.carousel-control {
  background: none;
  }
  