$talfinderBlue:#2AB1EA;
$talfiderNavyBlue:#064973;
$talfinderGray: #111111;
$talfinderFooterBlue:#0B132B;
$white:#FFFFFF;
$black : #000000;
$fontWieght:600;
$big:24px;
$medium:16px;
$fontRailway:Raleway;
$fontBitter: Bitter;
$opacity:0.4;





@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
 }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
 }
   @else if $point == tablet {
    @media (min-width: 768px) { @content ; }
 }
  @else if $point == phablet {
    @media (max-width: 768px)  { @content ; }
 }
 @else if $point == mobileonly {
    @media (max-width: 37.5em)  { @content ; }

 }
}
