@import url('https://fonts.googleapis.com/css?family=Raleway');
.contact__section {	
    height: 225px;	
    width: 100%;
    padding-right:20px;
    padding-left:20px;
    border:1px solid green;
}
.contact {
    color: #000000;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    display: inline;
    margin-left: -6px;
}
