<div class="container-fluid">
    <div class="contactsection">
        <h2 class="contact">contact</h2>
        <div class="row">
            <div class="col-sm-6">
                <p class="contact__demo">{{Demo}}</p>
                <p class="contact__description">{{demoDescription}}</p>
                <p class="contact__email">{{demoEmail}}</p>
            </div>
            <div class="col-sm-6">
                <p class="contact__demo">{{support}}</p>
                <p class="contact__description">{{supportDescription}}</p>
                <p class="contact__email">{{supportEmail}}</p>
            </div>
        </div>
    </div>
</div>