<tf-weblayout [navBarType]="navBarMenuType"
              [pageCaptionType]="page"
              [pageTestimonialType]="testimonialType"
              [pageOurJobPartnerType]="ourJobPartner">
  <div content>
    <tf-many-posibilities *ngIf="manyPossibilitiesModel"
                          [displayModel]="manyPossibilitiesModel"></tf-many-posibilities>
    <tf-feature-summary *ngIf="featureSummaryModel"
                        [displayModel]="featureSummaryModel"></tf-feature-summary>
  </div>
</tf-weblayout>
