<section class="container-fluid sitemaplink">
    <div class="row">
        <button type="button"
                class="navbar-toggle pull-left"
                (click)="onToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span>Site-map</span>
        </button>
    </div>
    <div class="row collapse sitemaplink__disp"
         id="defaultNavbar1"
         [ngClass]="{'toggleItem':toggle===true}">
        <div class="nowrap nav navbar-nav ">
            <div class="col-lg-4 col-xs-12"
                 *ngFor="let data of contentData">
                <div *ngIf="data.sitemapCategory==='Main'">
                    <ul>
                        <li *ngFor="let link of data.sitemapEntries">
                            <a class="sitemaplinks__name">{{link}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12"
                 *ngFor="let data of contentData">
                <ul *ngIf="data.sitemapCategory==='For Companies'">
                    <li>
                        <a class="sitemaplinks__name">{{data.sitemapCategory}}</a>
                    </li>
                    <li *ngFor="let link of data.sitemapEntries">
                        <a class="sitemaplinks__name">{{link}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-10"
                 *ngFor="let data of contentData">
                <ul *ngIf="data.sitemapCategory==='For Learners'">
                    <li>
                        <a class="sitemaplinks__name">{{data.sitemapCategory}}</a>
                    </li>
                    <li *ngFor="let link of data.sitemapEntries">
                        <a class="sitemaplinks__name">{{link}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
