
@import '../bits';
.sitemaplinks{
    height: 100%;
    width: 100%;
    background-color:$gallery;
    overflow-x: hidden;
}
.sitemaplinks--toggle{
    display: block;
}
.sitemaplinks__disp{
    @include breakpoint(tablet) {
        display: inline-block;
        flex-wrap: nowrap;
	} 
}
.sitemaplinks__name{
    color:$black;
    font-family: $fontRaleway;	
    font-size: $medium;
    display:block;
    flex-wrap: nowrap;
    @include breakpoint(phablet) {
        display:flex;
        flex-wrap: wrap;
    }  
    @include breakpoint(tablet) {
        display:block;
        flex-wrap: nowrap;     
    }      
}
.full-width{
    width: 100%;
}

