
.logo { 
    height: 88%;
    padding: 6px 0px;
    width: auto;
}
.blue {
    background-color: #2AB1EA;
}

.signup-button {
    display: block;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 5px;
    font-family: Raleway;
    font-size: 16px;
}

.login-button {
    display: block;
    background-color: #2AB1EA;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: Raleway;
    font-size: 16px;
}
.rectangle {
     height: auto;
    width: 100%;
    
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.headeritem {
    
    background-color: #FFFFFF;
    box-shadow: none;
    
    color: #000000;
    font-family: Raleway;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    
}
.navbar-brand {
    padding: 0px;
}
.common-margin {
    margin-left: 1%;
    margin-right: 1%;
}
.headeritem:hover,
.headeritem:focus,
.headeritem:active {
    
    background-color: #FFFFFF;
    border-bottom: 5px solid #2AB1EA;
    text-decoration: none;
    
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    color: #000000;

}
/* show the collapse when navbar toggle is checked */
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

/* the checkbox used only internally; don't display it */
#navbar-toggle-cbox {
  display:none
}
.pad{
    padding-inline-end: 3px;
    padding-block-start: 3px;
}
.nav-buttons{
display: inline-block;

}

@media (min-width: 768px) {
    .center {
        position: absolute;
        left: 35%;
        transform: translatex(-25%);
    }
    .no-wrap {
        display: flex;
        flex-wrap: nowrap;
    }

.nav-ul {
    
    padding-top:20px;
    padding-bottom:20px;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    display: inline-block;

    
}
}

@media(max-width:767px) {
    .nav-ul {
        
        
        padding-top:30px;
        display: inline-block;
        
    
        
    }
}

