


// talfinder colors
$fun-blue:                                          #1873ad;
$black:                                             #111111;
$gallery:                                           #eeeeee;
$malibu:                                            #66ccff;
$light-blue:                                        #56cdff;
$link-water:                                        #c9dff5;
$venice-blue:                                       #064973;
$Vivid-blue2:                                       #03a9f4;
$red:                                               #ff0000;
$white:                                             #ffffff;
$dark-grey:                                         #888888;
$dark-grey-8f:                                      #8f8f8f;
$silver-chalice:                                    #9e9e9e;
$forest-green:                                      #29791c;
$limed-spruce:                                      #3c4b52;
$iron:                                              #d5dddd;
$porcelain:                                         #ecf0f1;
$java:                                              #20c7a5;
$regent-gray:                                       #969fa3;
$curious-blue:                                      #1f93c6;
$sunglow:                                           #ffca28;
$loblolly:                                          #bcc7cc;
$picton-blue:                                       #2ab1e9;
$concrete:                                          #f2f2f2;
$geyser:                                            #cedae0;
$alto:                                              #dddddd;
$nevada:                                            #5a666b;
$denim:                                             #106CC8;
$dove-gray:                                         #f4f4f4;
$oslo-gray:                                         #849194;
$dusty-gray:                                        #999999;
$nobel:                                             #b3b3b3;
$alabaster:                                         #fafafa;
$tower-gray:                                        #a8b6bd;
$gull-gray:                                         #99aab2;
$cutty-sark:                                        #4f636b;
$chestnut-rose:                                     #d16572;
$dark-blue:                                         #064068;
$black:                                             #000000;
$emperor:                                           #555555;
$slate-gray:                                        #73848C;
$pickled-bluewood:                                  #34495E;
$heather:                                           #b1c4cd;
$outer-space:                                       #333A3D;
