/* font variables */
$oswald : 'Oswald', sans-serif;
$opensans: 'Open Sans', sans-serif;

/* number variables */
$step-dimension: 50px;

$break-small: 320px;
$break-mobile: 800px;
$break-large: 1200px;