<tf-navbar [navBarName]="navBarType"></tf-navbar>

<tf-caption [pageCaption]="page"></tf-caption>

<tf-popular-courses></tf-popular-courses>

<tf-why-learn></tf-why-learn>

<tf-testimonials [page]="testimonialType"></tf-testimonials>
<tf-our-job-partners [page]="ourJobPartner"></tf-our-job-partners>
<tf-sitemap-links></tf-sitemap-links>
<tf-footer></tf-footer>
<!--app-popular-courses></app-popular-courses>

<app-why-learn></app-why-learn>

<app-learner-testimonials></app-learner-testimonials>

<app-our-job-partners></app-our-job-partners>

<app-all-links></app-all-links>

<app-footer></app-footer-->
