@import '../../shared/_bits.scss';

.manypossibility{
  overflow-x:hidden; 
  width:100%;
}
.manypossibility__content{
  margin-left:4%;
  margin-right:4%;
  
  @include breakpoint(phablet) {
    margin-left:5%;
    margin-right:5%;
  }
}
.align {
  display: flex;
  flex-wrap: nowrap;  
  text-align: center;
  @include breakpoint(phablet) {
    flex-wrap: wrap;
    text-align: center;
  }
}
.manypossibility__content-heading {
  color:$black;
  font-family: $fontRaleway;
  font-size: $big;
  font-weight:  $strong;
  line-height: 29px;
  padding-bottom: 20px;
  padding-top: 20px;
  @include breakpoint(phablet) {
		text-align: center;
  }
  @include breakpoint(tablet) {
		text-align: left;
  }
  @include breakpoint(mobileonly) {
		text-align: center;
  }
}

section {
  top: 0;
  bottom: 0;
  
  background-color:$talfinderGray;
}
.manypossibility__content-text{
  color:$black;
  font-family: $fontRaleway;	
  font-size: $medium;	
  line-height: 19px;
  
}
.manypossibility__link-blue{
  color: $talfinderBlue;
  font-family: $fontRaleway;
  font-size: $big	;
  font-weight: $strong;
  text-align: right;
  
  @include breakpoint(phablet) {
		text-align: center;
  }
 
  @include breakpoint(mobileonly) {
		text-align: center;
  }
}
.space{
  padding: 10px;
}
.nowrap{
  display: inline;
  flex-wrap: nowrap;
}
.iconz{
  font-size: 3.5em;
  color: $talfinderBlue;
}