<section class="container-fluid box whylearn"
         *ngFor='let cont of contentData'>
    <div class="row  wrap whylearn__content ">
        <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
            <div>
                <img src='{{ cont.assetVal.fields.file.url  }}'
                     alt="image"
                     class="img-responsive whylearn__img">
            </div>

        </div>

        <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12  whylearn__content-marg ">
            <h1 class="whylearn__headings">{{cont.item.fields.advantageTitle}}</h1>

            <p class="whylearn__description">
                {{cont.item.fields.advantageDescription}}
            </p>
        </div>

    </div>

</section>
