@import '../../shared/bits';

.whylearn{
    &:nth-child(odd){

        background-color: $gallery;
        flex: 0 0 100%;
        .wrap {
            @include breakpoint(phablet){
                display: flex;
                flex-wrap: wrap;
            }
    
           @include breakpoint(tablet){
            display: flex;
            flex-direction: row-reverse;
            }
            
        }
        
        
    }
    &::nth-child(even){
  
    
        background-color:$white;
        flex: 0 0 100%;
        
    }

}
.whylearn__content-marg {
    @include breakpoint(tablet){             
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
}
.whylearn__content {
    padding-top:20px;
    padding-bottom:20px; 
    @include breakpoint(tablet){

        display: flex;
        flex-wrap: nowrap;
    }
}    
.whylearn__img {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    @include breakpoint(phablet){
        height:auto;
        width:100%; 
        margin-left: 0.3%;
        margin-right: 0.5%;
    }
    @include breakpoint(tablet){
        height:300px;
        width:100%;
        align-items: center;
        margin-left: 1%;
        margin-right: 1%;
    }
       
}
.whylearn__headings {
    color: $black;
    font-family: $fontRaleway;
    font-size: $big;
    font-weight: $strong;
    line-height: 29px;
    padding-bottom: 20px;
    @include breakpoint(phablet){
        text-align: center;
    }
}
.whylearn__description {
    color:$black;
    font-family: $fontRaleway;
    width: auto;
    font-size: 18px;
    @include breakpoint(phablet){
        text-align: center;
    }
}

