<section class="container-fluid box" *ngFor='let cont of contentData'>
    <br>
    <div class="row section-pad wrap no-wrap " >
        <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
            <div>
                <img src= '{{ cont.assetVal.fields.file.url  }}' alt="" class="img-responsive content-img">
            </div>

        </div>

        <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12  content-marg ">
            <h1 class="headings">{{cont.item.fields.advantageTitle}}</h1>

            <p class="p-text">
                {{cont.item.fields.advantageDescription}}
            </p>

            <!--a href="#">
                <h2 class="link-blue">Try KODEPRO</h2>
            </a-->

        </div>

    </div>
    <br>
</section>
<br>
