@media (min-width: 769px) {
    
    .job-partner-align {
        margin-left: 2%;
    }

}
@media(max-width:768px) {
   
    .job-partner-align {
        align-content: center;
        margin-left: 22%;
    }
    .wrap {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .job-partner-heading {
        text-align: center;
    }
}

.overflow-hide{
    overflow-x: hidden;
}
.section-pad {
    padding-left: 1%;
    padding-right: 1%;
    overflow-x: hidden;
    
    
}
.job-partner-img {
    
    height: 100px;
    width: 300px;
    margin-bottom: 5%;
}

.job-partner-align {
    display: flex;
    flex-wrap: nowrap;
}

.job-partner-align-img {
    padding: 15px;
}


.job-partner-heading {
    color: #000000;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    padding-bottom: 20px;
    margin-left: 2%;
}
