<div class="container-fluid">
        <h2 class="product__label col-md-offset-1">{{productlabel}}</h2>

        <div class="segement__cards col-md-3 col-xs-6 col-sm-3 col-md-offset-1">
                <img class="segment__image" src="{{corparatetrainingimageurl}}" alt="Talfinder-Hearing-tools">
                <p class="tal-finder-hiring-too">{{corparatetrainingsegmenttitle}}</p>
                <p>{{corparatetrainingsegmentDescription}}</p>
        </div>


        <div class="segement__cards col-md-3 col-xs-6 col-sm-3 col-md-offset-1">
                <img class="segment__image" src="{{learningtoolimageurl}}" alt="Talfinder-Hearing-tools">
                <p class="tal-finder-hiring-too">{{learningtoolsegmenttitle}}</p>
                <p>{{learningtoolsegmentDescription}}</p>
        </div>

        <div class="segement__cards col-md-3col-xs-6 col-sm-3 col-md-offset-1">
                <img class="segment__image" src="{{hiringtoolurl}}" alt="Talfinder-Hearing-tools">
                <p class="tal-finder-hiring-too">{{hiringtoolsegmenttitle}}</p>
                <p>{{hiringtoolsegmentDescription}}</p>
        </div>
        <div class="segement__cards col-md-3 col-xs-6 col-sm-3 col-md-offset-1">
                <img class="segment__image" src="{{talfindergrowthmarketurl}}" alt="Talfinder-Hearing-tools">
                <p class="tal-finder-hiring-too">{{talfindergrowthmarketsegmenttitle}}</p>
                <p>{{talfindergrowsegmentDescription}}</p>
        </div>
</div>