<section class="container-fluid box" *ngFor='let cont of contentData'>
    <br>
    <div class="row section-pad wrap no-wrap " >
        <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
            <div>
                <img src= '{{ cont.assetVal.fields.file.url  }}' alt="" class="img-responsive content-img">
            </div>

        </div>

        <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12  content-marg ">
            <h1 class="headings">{{cont.item.fields.advantageTitle}}</h1>

            <p class="p-text">
                {{cont.item.fields.advantageDescription}}
            </p>

            <!--a href="#">
                <h2 class="link-blue">Try KODEPRO</h2>
            </a-->

        </div>

    </div>
    <br>
</section>
<br>

<!--section class="container-fluid gray-box ">
    <div class="row section-pad wrap no-wrap">


        <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12 content-marg  ">
            <h1 class="headings">Industry Experts at your service</h1>
            <br>
            <p class="p-text">
                Stuck? Unable to understand something? <br><br> mentors will help you resolve the issue. No screensharing or other complicated procedures required. They can access your workspace on their browsers and help you trouble shoot

            </p>
            <br>
            <a href="#">
                <h2 class="link-blue">Become a mentor</h2>
            </a>

        </div>


        <div class=" col-lg-6 col-md-6  col-sm-12 col-xs-12 ">

            <img src="./images/experts.jpg" alt="" class="img-responsive content-img ">




        </div>




    </div>
</section>
<br>
<br>
<section class="container-fluid">
    <div class="row section-pad no-wrap ">

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">

            <img src="./images/whiteboard.jpg" alt="" class="img-responsive content-img">

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-marg  ">
            <h1 class="headings">Full-scale projects</h1>
            <br>
            <p class="p-text margin-p-row">
                Stuck? Unable to understand something? <br><br> mentors will help you resolve the issue. No screensharing or other complicated procedures required. They can access your workspace on their browsers and help you trouble shoot
            </p>


        </div>


    </div>
</section-->