.footer{
    background-color: rgba(11, 19, 43, 0.974);
    overflow-x: hidden;
}
.toggle-item{
    display: block;
}
.gary-box{
    background-color: #413c3c23;
    padding: 20px;
    overflow-x: hidden;
    
    
}
.text{
    color: #ffffff;
    font-family: "Open Sans";	
    font-size: 16px;	
    
}
.overflow-hide{
    overflow-x: hidden;
}
.space{
    max-height:10px;
}

@media(max-width:767px){
 .hiden{
     display: none;
 }
 .inline{
    display: inline-block;
}
}

@media(min-width:768px){
    .disp{
        display: none;
 }

 .nowrap{
     display: flex;
     flex-wrap: nowrap;
 }
 .hiden{
     display: inline;
 }
 .inline{
     display: inline-block;
 }

.center{
    margin-left:30%;
    
    
    align-content: center;
}

}
.list{
    padding-left:15px;
    padding-right:15px; 
}
