<section class="overflow-hide footer">
    <div class="container-fluid footer__box">
        <div class="row span-style">
            <button type="button"
                    class="navbar-toggle pull-left"
                    data-toggle="collapse"
                    data-target=".disp"
                    (click)="onToggle()">
                <Span>Legal</Span>
                <span class="pull-right"></span>
            </button>
        </div>
        <div class="collapse disp"
             [ngClass]="{'toggle-item':toggle===true}">
            <p class="">
                Privacy policy
            </p>
            <p class="">
                Terms of Use
            </p>
        </div>
    </div>
    <div class="row space"></div>
    <div class="row ">
        <footer class="footer__style text-center">
            <ul class="nav navbar-nav center">
                <li class="footer__list">
                    <p class="footer__text">
                        Privacy policy
                    </p>
                </li>
                <li class="footer__list">
                    <p class="footer__text">
                        Terms of Use
                    </p>
                </li>
                <li class="footer__list">
                    <p class="footer__text">
                        <span>&#169;</span> All Rights Are Reserved 2015
                    </p>
                </li>
            </ul>
        </footer>
    </div>
</section>
