<section class=" overflow-hide">
    <div class="container-fluid gray-box">
        <div class="row">
            <button type="button"
                    class="navbar-toggle pull-left"
                    data-toggle="collapse"
                    data-target="#legal1"
                    (click)="onToggle()">
                <Span>Legal</Span>
            </button>
        </div>
        <div class="collapse disp"
             id="legal1"
             [ngClass]="{'toggle-item':toggle===true}">

            <p class="">
                Privacy policy
            </p>
            <p class="">
                Terms of Use
            </p>

        </div>

    </div>
    <div class="row ">
        <footer class="footer text-center">
            <ul class="nav navbar-nav center">
                <li class="hiden nowrap list">
                    <p class="text">
                        Privacy policy
                    </p>
                </li>
                <li class="hiden nowrap list">
                    <p class="text">
                        Terms of Use
                    </p>
                </li>
                <li class="list">
                    <p class="text">
                        <span>&#169;</span> All Rights Are Reserved 2015
                    </p>
                </li>
            </ul>

            <!--div class="col-lg-4 hiden nowrap">
                <p class="text">
                    Privacy policy
                </p>
            </div>
            <div class="hiden nowrap">
                <p class="text">
                    Terms of Use
                </p>
            </div>

            <div>
                <p class="text">
                    <span>&#169;</span> All Rights Are Reserved 2015</p>
            </div-->



        </footer>

    </div>
</section>
