<section class="container-fluid popularcourse">
    <div class="row">
        <h1 class="popularcourse__title">{{displayModel?.sectionTitle}}</h1>
        <br>
        <div class="col-lg-3 col-sm-4 col-xs-6"
             *ngFor="let data of displayModel?.popularCourseCard">
            <div class="panel popularcourse__panel ">

                <img src={{data.image}}
                     alt="image"
                     class="img-responsive popularcourse__image">

                <div class="panel-body popularcourse__panel-body">
                    <p class="popularcourse__subtitle">
                        {{data.courseTitle}}
                    </p>
                    <p class="popularcourse__description">
                        {{data.courseDescription}}
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="row ">
        <a>
            <h2 class="popularcourse__link">View all courses</h2>
        </a>

    </div>
</section>
