@import '../../shared/bits';
.course-panel {
    background-color:$white;
    box-shadow: 2px 5px 4px 0 rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display:inline-block;
}
.course-link-blue {
    color:$talfinderBlue;
    font-family: $fontRaleway;
    font-size: 20px;
    font-weight:$strong;
    margin-left: 1%;
    text-decoration: none;
}
.course-link-blue:hover {
 
    text-decoration: currentColor;
}
.course-h1-text {
    color:$black;
    font-family: $fontRaleway;
    font-size: $big;
    font-weight: $strong;
    line-height: 29px;
    margin-left: 1%;
    padding-bottom: 20px;
}
.course-panel-image {
    height: 100%;
    width: 100%;
}
.course-h3-text {
    color:$black;
    font-weight: $strong;
    font-family: $fontRaleway;
    font-size: $medium;
    padding: none;
}
.p-text {
    color: $black;
    font-family: $fontRaleway;
    width: auto;
    font-size: 12px;
}
.fixed-panel {
    
    min-height:200px;
    max-height: 200px;
    
  }
